MPDConnector.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
MPDConnector.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
MPDConnector.xcodeproj/project.xcworkspace/xcuserdata/berrie.xcuserdatad/UserInterfaceState.xcuserstate
MPDConnector.xcodeproj/xcuserdata/berrie.xcuserdatad/xcschemes/MPDConnector.xcscheme
